<main class="container">
    <div class="row mt-4 mb-2">
        <div class="col-12 d-flex align-items-center h2">
            <div>
                <fa-icon [icon]="peopleIcon"></fa-icon>
            </div>
            <div class="ps-2">
                List of smart guys
            </div>
            <div class="ms-auto">
                <button class="btn btn-crismon btn-crismon text-white"
                (click)="showBrainiacForm()">
                    <fa-icon [icon]="plusIcon"></fa-icon>
                    Add brainiac
                </button>
            </div>
        </div>
    </div>
    <div class="row mx-0 px-0 g-0">
        <div class="col-12">
            <app-table [people]="people" (passPersonToEditEvent)="editPerson($event)"></app-table>
        </div>
    </div>
</main>